body {
    background: #2e114c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



header {
    background-color: #63118d;
    color: white;
    padding: 1rem;
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 80px;
}

div {
    align-items: center;
}

div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

div ul li {
    display: inline;
    
}

div ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-container label, .form-container input {
    width: 100%;
    margin-bottom: 1rem;
}

/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
} */

.navbar {
    background: #fff;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.navbar ul li {
    margin: 0;
    width: 22.5%;
    height: 30px;
    color: #333;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    
}

#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(#e91e63, #9c27b0);
    border-radius: 50%;
    top: -50px;
    left: calc(50% - 25px)%;
    border: 5px solid #2e114c;
    transform: scale(1.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: left 0.8s;
}

#circle .fa-plus {
    font-size: 22px;
}

.navbar ul li[value="2"] {
    opacity: 0;
    font-size: 26px;
}

#circle i {
    animation: 0.5s moveup linear forwards;
}

@keyframes moveup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}